footer {
    bottom: 0;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 1rem 8rem;
    width: 100%;
}

.socialMedia {
    display: flex;
    align-items: center;
    gap: 2rem;
}